<div id="dashboard">
    <div class="dashboard-container">
        <app-title-datepicker></app-title-datepicker>
        <div class="cards-container">
            <app-cards></app-cards>
        </div>
        <div class="expense-container">
            <app-expenses></app-expenses>
        </div>
        <div class="income-expense-container">
            <app-income-expense></app-income-expense>
        </div>  
         <div class="recent-transactions-container">
           <app-recent-transactions></app-recent-transactions>
        </div>

        
    </div>
</div>