#transactions{
    width: calc(100% - 224px);
    height: 100%;
    margin-left: 220px;
    padding: 2px;
  background-color: #d2eff3;
    .transactions-container{
        margin: 5px 5px 0px 5px;
        width: calc(100% - 10px);
        height: calc(100% - 10px);
    }
   
}

